.button {
  @include background-colors-with-hover();

  display: block;
  text-align: center;
  height: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  &:hover {
    background-color: $hover-color;
  }
}