.separator {
  @include colorize-normal($gray-scale-0, $gray-scale-4);
  @include font-semi-bold(9px);
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}