.page_menu {

  &_closed {

    .page__menu {
      @include media-only-mobile{
        display: none;
      }
    }

    .page__task-list {
      display: block;
    }

    .page__task-list-overlap {
      display: none;
    }
  }
}