%i-task-item-col {
  display: table-cell;
  vertical-align: middle;
}

.task-item {
  display: table;
  width: 100%;

  height: $task-list-item-height;
  color: $gray-scale-5;
  background-color: $gray-scale-0;
  border-bottom: 1px solid $gray-scale-2;

  &__checkbox {
    @extend %i-task-item-col;
    text-align: center;
    width: $header-size - 5px;
  }

  //region info section

  &__info {
    @extend %i-task-item-col;
    text-align: left;
    padding-top: 2px;
  }

  &__name {
    @include font-regular(15px);
    display: block;
  }

  //endregion

  //region notification area

  &__notification {
    @extend %i-task-item-col;
    width: 7.4ch;
    text-align: left;
  }

  //endregion

  &__label {
    @include font-semi-bold(9px);

    display: block;
    color: $gray-scale-3;
    text-transform: uppercase;

    &_project, &_date, &_access-time {
      margin-top: 4px;
    }

    &_date {
      @include before-icon($icon-today-group);
    }

    &_notification {
      @include before-icon($icon-notifications-none-group);
    }

    &_access-time {
      @include before-icon($icon-access-time-group);
    }
  }
}