$mobile-min-width: 320px;

$header-size: 44px;

$marker-width: 8px;
$count-padding-right: 16px;
$count-badge-width: 22px;
$scroll-bar-width: 20px;
$task-item__button-width: 73px;

$checkbox-width: $header-size - 5px;
$notification-width: 78px;

$menu-width: $mobile-min-width - $header-size - 4px;
$menu-text-left-padding: 23px;
$menu-icon-right-padding : 28px;

$tablet-min-width: $menu-width + $mobile-min-width;

$desktop-min-width: $tablet-min-width + 2 * $task-item__button-width;
$desktop-page-max-width: 950px;
