.list-item {
  box-sizing: border-box;
  display: block;
  width: 100%;

  height: $list-item-height;
  line-height: $list-item-height  - 1px; //avoid bottom border

  color: $gray-scale-5;
  background-color: $gray-scale-0;
  border-bottom: 1px solid $gray-scale-2;

  text-decoration: none;
  a {
    text-decoration: none;
  }

  @include font-regular(15px);

  &_small {
    height: $list-item_small-height;
    line-height: $list-item_small-height;
  }
}