<li class="list-item task-item">

    <div class="checkbox task-item__checkbox">
        <input class="checkbox__control" id="@@id" type="checkbox"/>
        <label class="" for="@@id"></label>
    </div>

    <div class="task-item__info">
        <span class="task-item__name">
            @@title
        </span>

        @@if (info_label) {
        <span class="task-item__label task-item__label_@@info_label_mod">
            @@if (project_color) {
            <i class="badge @@project_color"> </i>
            }
            @@info_label
        </span>
        }
    </div>

    <div class="task-item__notification">

        @@if (notification) {
        <span class="task-item__label task-item__label_notification">
            @@notification
        </span>
        }

        @@if (access_time) {
        <span class="task-item__label task-item__label_access-time">
            @@access_time
        </span>
        }
    </div>

    <div class="task-item__buttons task-item__buttons@@buttons_mod">
        <button class="button task-item__start">
        </button>
        <button class="button task-item__edit">
        </button>
    </div>
</li>