// branding colors
$color-red: #e74c3c;
$color-green: #1abc9c;
$color-light-blue: #42aadf;
$color-blue: #3799d7;
$color-yellow: #f0c33c;
$color-orange: #e77a35;
$color-violet: #9e54b2;

$colors: (
        red: $color-red,
        green: $color-green,
        blue: $color-blue,
        yellow: $color-yellow,
        orange: $color-orange,
        violet: $color-violet
);

$hover-color: rgba(170,180,190, .5);

// gray scale
$gray-scale-0: #fff;
$gray-scale-1: #f1f3f6;
$gray-scale-2: #d3dbe3;
$gray-scale-3: #b9c1c9;
$gray-scale-4: #abb4be;
$gray-scale-5: #57626b;
