<header class="header header_@@color">
    <button class="button button_@@color header__menu-button">
        <span class="icon icon_hamburger @@if (color !== 'default') { icon_inverted }"></span>
    </button>

    <div class="header__title">
        <span class="_middle-content"></span>
        @@text
        @@if (title_icon === true) {
        <span class="icon icon_create header-title__icon"></span>
        }
    </div>

    <button class="button button_@@color header__add-task-button">
        <span class="icon icon_plus @@if (color !== 'default') { icon_inverted }"></span>
    </button>
</header>