<header class="header color_@@color">
    <button class="header__menu-button button color_@@color">
        <i class="icon icon_hamburger @@if (color !== 'default') { icon_inverted }"></i>
    </button>

    <span class="header__title">
        ahdhsakdlsssssssssskashdlksahdlkhlkdsalkhslkhalhaksadhsl
        @@if (title_icon === true) {
        <i class="icon icon_create header-title__icon"></i>
        }
    </span>


    <button class="header__add-task-button button color_@@color">
        <i class="icon icon_plus @@if (color !== 'default') { icon_inverted }"></i>
    </button>
</header>