$header-text-color: $gray-scale-4;

.header {
  display: inline-table;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: $header-size;
  color: $gray-scale-4;
  background-color: $gray-scale-1;

  &__menu-button {
    display: table-cell;
    width: $header-size;
    max-width: $header-size;
  }

  &__title {
    display: table-cell;
    @include font-semi-bold(14px);
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;

    max-width: $mobile-min-width - 2 * $header-size;
    .icon {
      vertical-align: baseline;
    }
  }

  &__add-task-button {
    display: table-cell;
    width: $header-size;
    float: right;
  }
}

@include colors-state-normal-for('.header');
