.header {
  width: $width;
  background: #0f0;
  &-nav {
    display: table;

    height: $height-header;
    background: #f1f3f6;

    &_work {
      background: $work;
    }
    overflow: hidden;
    &-options {
      width: 44px;
      outline: none;
      border: none;

      background: url(../img/iconHamburger.png) center center no-repeat transparent;

      // display: table-cell;
      // vertical-align: middle;

      text-align: center;
      line-height: $height-header;
      padding: 0 12px;
      float: left;
      &:hover {
        background-color: #2980b9;
      }
      &__menu {
        vertical-align: middle;
      }
    }
    &-title {
      width: 232px;

      display: table;
      // vertical-align: middle;

      text-align: center;
      line-height: $height-header;
      padding: 0 12px;
      float: left;
      &__text {
        position: relative;
        // line-height: $height-header;

        display: table-cell;
        vertical-align: middle;


        font-family: "EncodeSansWide_semibold";
        font-size: 14px;
        color: #fff;
        &_projects:after {
          content: "a";
          color: transparent;
          position: absolute;
          top: 25%;
          width: 15px;
          height: 15px;
          margin-left: 6px;
          margin-top: 2px;
          background: url(../img/pen.jpg) left center no-repeat;
        }
        &_today {
          color: #b9c1ca;
        }
      }
    }
    &-add {
      width: 44px;
      outline: none;
      border: none;

      background: url(../img/iconPlus.png) center center no-repeat transparent;

      text-align: center;
      line-height: 44px;
      padding: 0 12px;
      float: left;
      &:hover {
        background-color: #2980b9;
      }
      &__plus {
        vertical-align: middle;
      }
    }
  }
}