.header {
  width: $width;
  background: #0f0;
  &-nav {
    display: table;

    height: $height-header;
    background: #f1f3f6;


    overflow: hidden;
    &__options {
      width: 44px;
      outline: none;
      border: none;

      background: url(../img/iconHamburger.png) center center no-repeat transparent;

      // display: table-cell;
      // vertical-align: middle;

      text-align: center;
      line-height: $height-header;
      padding: 0 12px;
      float: left;
      &:hover {
        background-color: #ced3da;
      }

      &_work:hover {
        background-color: #2980b9;
      }
    }
    &-title {
      width: 232px;

      display: table;
      // vertical-align: middle;

      text-align: center;
      line-height: $height-header;
      padding: 0 12px;
      float: left;
      &__text {
        position: relative;
        // line-height: $height-header;

        display: table-cell;
        vertical-align: middle;

        color: #b9c1ca;
        font-family: "EncodeSansWide_semibold";
        font-size: 14px;
        &_projects {
          color: #fff;
          &:after {
            content: "a";
            color: transparent;
            position: absolute;
            top: 25%;
            width: 15px;
            height: 15px;
            margin-left: 6px;
            margin-top: 2px;
            background: url(../img/pen.jpg) left center no-repeat;
          }
        }
      }
    }
    &__add {
      width: 44px;
      outline: none;
      border: none;

      background: url(../img/iconPlus.png) center center no-repeat transparent;

      text-align: center;
      line-height: 44px;
      padding: 0 12px;
      float: left;
      &:hover {
        background-color: #ced3da;
      }
      &_work:hover {
        background-color: #2980b9;
      }
    }
    &_work {
      background: $work;
    }
  }
}