@import "reset",
"top-line";

@font-face {
    font-family: EncodeSansWide-DemiBold;
    src: url(../fonts/EncodeSansWide-SemiBold.ttf);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  $padding: 10px;
  $height: 100px;
  $content-height: $height - $padding * 2;

  height: $height;
  background: #f4f4f0;
  padding: $padding;
  width: 900px;
  margin: 10px auto 10px auto;

  .logo {
    width: $height;
    height: $height;
    float: left;
  }

  .title {
    color: #888;
    display: block;
    line-height: $content-height;
    text-align: center;
    transform: translate(-$height/2, 0);
  }
}
