.tasks {

	&__header {
		text-align: center;
		text-transform: uppercase;
		font-size: 9px;
		line-height: 9px + 13px;
		font-family: "EncodeSansWide_semibold", Arial, sans-serif;
		color: white;
		background-color: $bg-tasks-header;
	}

	&-item {
		width: $width;
		height: $height-tasks;
		overflow: hidden;
		list-style: none;
		border-bottom: 1px solid $item-border;

		&__checkbox {
			line-height: $height-tasks;
			margin-left: 12px;
			width: 16px;
			background-image: url(../img/inputCheckBox0.png);
			background-repeat: no-repeat;
			background-position: center center;

			margin-right: 12px;
			float: left;
			cursor: pointer;

			&:hover {
				background-image: url(../img/inputCheckBox1.png);
			}
		}

		&__name {
			width: $width - 40px - 78px;
			color: $color-text-dark;
			font-family: "EncodeSansWide_reg", Arial, sans-serif;
			font-size: 15px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			line-height: 15px + 8px;
		}

		&__date {
			color: $color-text-light;
			font-family: "EncodeSansWide_semibold", Arial, sans-serif;
			font-size: 9px;
			text-transform: uppercase;
			line-height: 9px + 8px;

			padding-left: 13px;
			vertical-align: middle;
			background: url(../img/ic_today.png) left center no-repeat transparent;
		}

		&__project {
			display: inline-block;
			position: relative;
			padding-left: 8px + 4px;

			width: $width - 40px - 78px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			color: $color-text-light;
			font-family: "EncodeSansWide_semibold", Arial, sans-serif;
			text-transform: uppercase;
			font-size: 9px;
			line-height: 9px + 8px;

			&:before {
				content: "";
				position: absolute;
				top: 25%;
				left: 0;
				width: 8px;
				height: 8px;
				border-radius: 8px;
				background-color: $color-text-light;
				vertical-align: middle;

				.tasks-item_project-1 & {
					background-color: $project-color1;
				}

				.tasks-item_project-2 & {
					background-color: $project-color2;
				}
				.tasks-item_project-6 & {
					background-color: $project-color6;
				}
			}
		}

		&__alarm {
			color: $color-text-light;
			font-family: "EncodeSansWide_semibold", Arial, sans-serif;
			font-size: 9px;
			line-height: 9px + 8px;

			padding-left: 12px;
			background: url(../img/ic_notifications_none.png) left center no-repeat;
		}

		&__measurement {
			color: $color-text-light;
			font-family: "EncodeSansWide_semibold", Arial, sans-serif;
			font-size: 9px;
			line-height: 9px + 8px;

			padding-left: 12px;
			background: url(../img/ic_access_time.png) left center no-repeat;
		}

		&-content {
			width: 202px;
			height: $height-tasks;
			float: left;
			display: table;
		}

		&-time {
			width: 78px;
			height: $height-tasks;
			font-size: 9px;
			display: table;

			padding-left: 12px;
			padding-right: 12px;
			float: left;
		}

		&-wrapper {
			display: table-cell;
			vertical-align: middle;
		}

		&:hover {
			background-color: $bg-item-hover;
		}
	}
}
/* .project-1 {
	background-color: $project-color1;
} */

.clearfix:after,
.clearfix:before {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}