.clearfix:after,
.clearfix:before {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

.main {
	position: relative;
	width: 320px;
	background-color: rgba(0,255,0,.3);
	display: inline-block;
}

.tasks {

	&__header {
		@extend %encodeSans-semibold;

		text-align: center;
		text-transform: uppercase;
		line-height: 9px + 13px;
		color: white;

		list-style: none;
		background-color: $bg-tasks-header;
	}

	&-item {
		width: $width;
		height: $height-tasks-item;
		overflow: hidden;
		position: relative;
		list-style: none;
		border-bottom: 1px solid $item-border;

		&__checkbox {
			line-height: $height-tasks-item;
			margin-left: 12px;
			margin-right: 12px;
			width: 16px;
			background: url(../img/inputCheckBox0.png) center center no-repeat transparent;

			float: left;
			cursor: pointer;

			&:hover {
				background-image: url(../img/inputCheckBox1.png);
			}
		}

		&__name {
			@extend %encodeSans-reg;

			width: $width - 40px - 78px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		&__date {
			@extend %encodeSans-semibold;

			text-transform: uppercase;

			padding-left: 13px;
			vertical-align: middle;
			background: url(../img/ic_today.png) left center no-repeat transparent;
		}

		&__project {
			@extend %encodeSans-semibold;

			display: inline-block;
			position: relative;
			padding-left: 8px + 4px;

			//width: $width - 40px - 78px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			text-transform: uppercase;

			&_menu {
				padding-left: 8px;
			}

			&:before {
				content: "";
				position: absolute;
				top: 25%;
				left: 0;
				width: 8px;
				height: 8px;
				border-radius: 8px;
				background-color: $color-text-light;
				vertical-align: middle;

				.tasks-item_project-1 & {
					background-color: $project-color1;
				}

				.tasks-item_project-2 & {
					background-color: $project-color2;
				}
				.tasks-item_project-6 & {
					background-color: $project-color6;
				}
			}
		}

		&__alarm,
		&__measurement {
			padding-left: 12px;
		}

		&__alarm {
			@extend %encodeSans-semibold;

			background: url(../img/ic_notifications_none.png) left center no-repeat transparent;
		}

		&__measurement {
			@extend %encodeSans-semibold;

			background: url(../img/ic_access_time.png) left center no-repeat transparent;
		}

		&__hover {
			position: absolute;
			visibility: hidden;
			width: 100%;
			height: 100%;

			background-color: $bg-item-hover-opasity;

			// Bug - I can't click onto checkbox;
			.tasks-item:hover & {
				visibility: visible;
			}
		}

		&__button {
			@extend %button;

			width: 73px;
			height: 100%;

			float: right;

			background-color: red;
			border-left: 1px solid #fff;

			&_start {
				background-color: $project-color3;
			}

			&_edit {
				background-color: $bg-btn-edit;
			}
		}

		&__start,
		&__edit {
			@extend %encodeSans-bold;

			position: relative;
			display: inline-block;
			padding-top: 18px;

			text-transform: uppercase;
		}

		&__start:before,
		&__edit:before {
			content: "";
			position: absolute;
			top: 0;

			width: 18px;
			height: 18px;
		}

		&__start:before {
				left: 25%;

				background: url(../img/Triangle_3.png) center top no-repeat;
		}

		&__edit:before {
				left: 10%;

				background: url(../img/ic_create@2x.png) center top no-repeat;
		}

		&-content,
		&-time {
			height: $height-tasks-item;
			float: left;
			display: table;
		}

		&-content {
			width: 202px;
		}

		&-time {
			width: 78px;
			padding-left: 12px;
			padding-right: 12px;
		}

		&-wrapper {
			display: table-cell;
			vertical-align: middle;
		}

		/* &:hover {
			background-color: $bg-item-hover;
		} */
	}
}

/* .project-1 {
	background-color: $project-color1;
} */