$marker-width: 8px;
$count-padding-right: 16px;
$count-badge-width: 22px;
$scroll-bar-width: 20px;

.project-item {
  @include property-colors(border-left-color);

  display: table;
  position: relative;
  border-left: $marker-width solid transparent;
  border-collapse: collapse;

  &__title {
    display: table-cell;
    padding-left: $menu-text-left-padding - $marker-width;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: $menu-width - $menu-text-left-padding - $count-badge-width - $count-padding-right - $scroll-bar-width;
    overflow: hidden;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  @each $bg-color-name, $bg-color in $colors {
    &.color_#{$bg-color-name} &__count .badge {
      @include colorize-normal($gray-scale-0, $bg-color);
    }
  }

  &__count {
    @include font-regular(11px);
    display: table-cell;
    float: right;
    padding-right: $count-padding-right;
    .badge {
      margin-top: -1px;
      height: $count-badge-width;
      width: $count-badge-width;
      line-height: $count-badge-width;
      text-align: center;
    }
  }
}