.project-item {
  @include property-colors(border-left-color);

  display: table;
  position: relative;
  border-left: $marker-width solid transparent;
  border-collapse: collapse;

  &__title {
    @extend %text-in-one-line;
    max-width: $menu-width - $menu-text-left-padding - $count-badge-width - $count-padding-right - $scroll-bar-width - 1;

    display: table-cell;
    padding-left: $menu-text-left-padding - $marker-width;
    vertical-align: middle;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  @each $bg-color-name, $bg-color in $colors {
    &.color_#{$bg-color-name} &__count .badge {
      @include colorize-normal($gray-scale-0, $bg-color);
    }
  }

  &__count {
    @include font-regular(11px);
    display: table-cell;
    float: right;
    padding-right: $count-padding-right;

    .badge {
      height: $count-badge-width;
      width: $count-badge-width;
      line-height: $count-badge-width;
      text-align: center;
    }
  }
}
