.week-calendar {
    height: $header-size;
    width: 100%;
    @include colorize-normal($gray-scale-5, $gray-scale-0);
    display: table;
    border-spacing: 10px 0;
    &-day {
        display: table-cell;
        height: 100%;
        padding: 0 5px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        width: 14%;
        text-transform: uppercase;
        &__number, &__text {
            margin: 0;
        }
        &__number {
            @include font-regular(15px);
            color: $gray-scale-5;
        }

        &__text {
            @include font-bold(7px);
            color: $gray-scale-3;
            margin-top: 2px;
        }
    }
    &__radiobutton {
        display: none;
    }
}

.week-calendar__radiobutton:checked + .week-calendar-day {
    border-bottom: 4px solid $color-blue;
    border-top: 4px solid transparent;
}

.week-calendar__radiobutton:checked + .week-calendar-day > p {
    color: $color-blue;
}
