.header-title {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include font-semi-bold(14px);
  text-transform: uppercase;
  text-align: center;
}

@import "header-title__icon";